<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h2>Your question:</h2>
<p><%= @user_answer %></p>

<h2>Your coach answer:</h2>
<p><%= @coach_answer %></p>

<%= link_to 'Try again', ask_path %>
<!-- how to go back to the ask page! -->
